.station-wrapper {
  font-size: 2rem;
  position: absolute;
  white-space: nowrap;
  .s-node {
    position: absolute;
    background: $node-color;
    display: flex;
    align-items: center;
    justify-content: center;
    .s-node-clicked {
      background: $node-selected-color;
      width: 0.8em;
      height: 0.8em;
      border-radius: 50%;
    }
    .s-node-path {
      @extend .s-node-clicked;
      background: $node-path-color;
    }
  }
  .s-round {
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
  }
  .s-ellipse {
    height: 1.5em;
    width: 3em;
    border-radius: 1em;
  }
  .s-line {
    top: 50%;
    height: 0.75em;
    border-radius: 0.5em;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .s-name-area {
    color:$main-font-color;
    font-weight: bold;
    left: 0;
    top: 0;
    position: absolute;
    display: flex;
    z-index: 5;
    align-items: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    .subicon-area{
      font-size: 0.6em;
    }
  }
}

.subicon {
  font-size: 0.8em;
  padding: 0.1em;
  margin: 0.1em;
  opacity: 0.7;
}

.angel-right {
  position: absolute;
  transform-origin: left;
}
.angel-left {
  position: absolute;
  transform-origin: right;
}
