@font-face {font-family: "subicon";
  src: url('../fonts/subicon.eot'); /* IE9*/
  src: url('../fonts/subicon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/subicon.woff') format('woff'), /* chrome, firefox */
  url('../fonts/subicon.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/subicon.svg#subicon') format('svg'); /* iOS 4.1- */
}

.subicon {
  font-family:"subicon" !important;
  font-style:normal;
  color: white;

  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-wc:before { content: "\e6d4"; }
.icon-assist:before { content: "\e61b"; }
.icon-magnet:before { content: "\e660"; }
.icon-plane:before { content: "\e67c"; }
.icon-train:before { content: "\e67b"; }
