@charset "UTF-8";

$main-font-color:#333;  //站点文字颜色
$main-bg-color:#ffe;  //网页背景色
$node-color:#fff;
$node-selected-color:blue;  //选中的站点色
$node-path-color:indigo;  //路径的站点色

.main-container{
  background: $main-bg-color;
  width: 3000px;
  height: 2400px;
  .add-btn {
    position: fixed;
    left: 1em;
    bottom: 1em;
    z-index: 98;
    opacity: 0.7;
  }
  .time-btn{
    @extend .add-btn;
    left: 15rem;
  }
  .modal-layer{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(255, 255, 255, 0.3);
  }

}




@import 'animate.scss';
@import 'icon.scss';
@import 'line.scss';


@import './components/StationWrapper.scss';
@import './components/AddPanel.scss';
@import './components/EditPanel.scss';
@import './components/Alert.scss';
@import './components/TimePanel.scss';
